<%= form_with model: @user, url: session_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= ma_email_field(form) %>
  </div>
  <div style="margin-top: 8px;">
    <%= form.label :password %>
    <%= ma_password_field(form) %>
  </div>
  <%= form.submit "Log in" %>
<% end %>
