<h1><%= t(".title") %></h1>

<p>
  <%= t(".instructions") %>
</p>

<%= form_with scope: :user, url: password_reset_path do |form| %>
  <div>
    <%= password_reset_email_field(form) %>
  </div>
  <%= form.submit t(".submit") %>
<% end %>
