<h1><%= t(".title") %></h1>

<p>
  <%= t(".instructions") %>
</p>

<%= form_with scope: :user, url: password_reset_path do |form| %>
  <div>
    <%= form.text_field :email, placeholder: t(".placeholder") %>
  </div>
  <%= form.submit t(".submit") %>
<% end %>
