<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Sessions</title>
    <%= render "head" %>
  </head>

  <body>
    <%= render "session_and_flash" %>

    <h3>Mailer Previews</h3>
    <p>
      <%= link_to("Action Mailer Previews", "/rails/mailers") %>
    </p>

    <h3>Users</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Active</th>
          <th>Verified</th>
          <th>Password</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render User.order(:email) %>
      </tbody>
    </table>

    <%= yield %>

    <%= render "sign_in_out" %>
  </body>
</html>
