<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Sessions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h3>Session:</h3>
    <%= render 'layouts/hash', hash: session %>

    <h3>Flash:</h3>
    <%= render 'layouts/hash', hash: flash %>

    <h3>Login Shortcuts</h3>
    <ul>
      <% User.active.order(:email).each do |user| %>
        <li><%= button_to(user.email, session_path(user: { email: user.email, password: 'password' } )) %></li>
      <% end %>
    </ul>

    <%= yield %>

    <%= link_to 'Login', new_session_path %>
    <%= link_to 'Logout', session_path, method: :delete %>
  </body>
</html>
