<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Sessions</title>
    <%= render "head" %>
  </head>

  <body>
    <%= render "session_and_flash" %>

    <h3>Mailer Previews</h3>
    <p>
      <%= link_to("Action Mailer Previews", "/rails/mailers") %>
    </p>

    <h3>Users</h3>
      <% User.order(:email).each do |user| %>
        <div>
          <div style="display: inline-flex;">
            <%= button_to(user.email, session_path(user: { email: user.email, password: MinimalistAuthentication::TestHelper::PASSWORD } ), style: "width:200px;") %>
            <%= button_to("Create Password Reset", password_reset_path(user: { email: user.email } ), style: "width:200px;") %>
            <%= link_to("Edit Password", edit_password_path(token: user.generate_token_for(:password_reset))) if user.password_salt %>
          </div>
        </div>
      <% end %>
    </ul>

    <%= yield %>

    <%= render "sign_in_out" %>
  </body>
</html>
