<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Sessions</title>
    <%= render "head" %>
  </head>

  <body>
    <%= render "session_and_flash" %>

    <h3>Login Shortcuts</h3>
    <ul>
      <% User.active.order(:email).each do |user| %>
        <li><%= button_to(user.email, session_path(user: { email: user.email, password: MinimalistAuthentication::TestHelper::PASSWORD } )) %></li>
      <% end %>
    </ul>

    <h3>Mailer Previews</h3>
    <p>
      <%= link_to("Action Mailer Previews", "/rails/mailers") %>
    </p>

    <h3>Password Resets</h3>
    <ul>
      <% User.active.with_verified_email.order(:email).each do |user| %>
        <li><%= link_to(user.email, edit_user_password_path(user, token: user.generate_token_for(:password_reset))) %></li>
      <% end %>
    </ul>

    <%= yield %>

    <%= render "login_logout" %>
  </body>
</html>
