<!DOCTYPE html>
<html>
  <head>
    <title>Dummy - Sessions</title>
    <%= render "head" %>
  </head>

  <body>

    <h3>Users</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Active</th>
          <th>Verified</th>
          <th>Password</th>
          <th colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render User.order(:email) %>
      </tbody>
    </table>

    <%= yield %>

    <%= render "sign_in_out" %>
    <%= render "footer" %>
  </body>
</html>
