<h1><%= t(".title") %></h1>

<p><%= t(".instructions") %></p>

<%= @user.errors.full_messages if @user.errors.any? %>

<%= form_with model: @user, url: password_path(token: @token) do |form| %>
  <div>
    <%= form.label :password %>
    <%= new_password_field(form) %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= confirm_password_field(form) %>
  </div>
  <%= form.submit t(".submit") %>
<% end %>
