<h1><%= t(".title") %></h1>

<h2><%= t(".instructions") %></h2>

<%= form_with(model: current_user, url: email_path) do |form| %>
  <%= form.text_field :email %>
  <%= form.submit t(".submit") %>
<% end %>

<p><%= t(".message") %></p>

<%= ma_skip_link %>
