<h1><%= t(".title") %></h1>

<% if current_user.email_verified? %>
  <h2><%= t(".success") %></h2>
<% else %>
  <h2><%= t(".failure") %></h2>
<% end %>
<h2><%= current_user.email %></h2>

<%= link_to("Go to Dashboard", dashboard_path) %>
